@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Indie+Flower|Montserrat|Poiret+One|Rajdhani');
/*font-family: 'Indie Flower', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Rajdhani', sans-serif;*/
