<section class="view">
  <nav-bar></nav-bar>
  <section class="topics-container">
    <div class="topic">
      <h3>My Feelings For You</h3>
      <img class="topic-img" src="img/gradCait.jpg" alt="">
      <div class="note">
        <p>When I am with you, I can feel in my bones that it is meant to be.
        You are so beautiful and I can't tell you how much you truly mean to me.
      I am so proud of you, and who you are. You are an incredible, smart, funny, loving women.
    I am the luckiest guy in the world, and I know that for a fact. I want to have my forever with you Cait.
    </p>
    <h3>HAPPY 24th BIRTHDAY!!!</h3>
      </div>
    </div>
  </section>
</section>
