<section class="view">
  <nav-bar></nav-bar>
  <section class="topics-container">
    <div class="topic">
      <h3>Some Yummy Pics</h3>
      <img class="topic-img" src="img/beauty.PNG" alt="">
    </div>
    <div class="topic">
      <h3>You Are My Favorite</h3>
      <img class="topic-img" src="img/beauty3.PNG" alt="">
    </div>
    <div class="topic">
      <h3>Forever</h3>
      <img class="topic-img" src="img/beauty4.PNG" alt="">
    </div>
    <div class="topic">
      <h3>I Wish I Was A Cracker</h3>
      <img class="topic-img" src="img/mouthFull.jpg" alt="">
    </div>
    <div class="topic">
      <h3>We Are Still In Love</h3>
      <img class="topic-img" src="img/beauty2.JPG" alt="">
    </div>

  </section>
</section>
