<section class="view">
  <nav-bar></nav-bar>
  <section class="topics-container">
    <div class="topic">
      <h3>You Make Me A Better Man</h3>
      <img class="topic-img" src="img/dadScott.JPG" alt="">
      <div class="note">
        <p>I would not be half the man I am today without you.
        You make me want to be the best I can be all the time.</p>
      </div>
    </div>
    <div class="topic">
      <h3>How Happy You Make Me</h3>
      <img class="topic-img" src="img/happy.jpg" alt="">
      <div class="note">
        <p>You make me happier than I ever thought I could be.
        Everyday I can't wait to be with you.</p>
      </div>
    </div>
    <div class="topic">
      <h3>Best Cook Of All Time</h3>
      <img class="topic-img" src="img/foodCait.jpg" alt="">
      <div class="note">
        <p>I love how often we cook together.
        It is always so incredible and delicious.
        I am so blessed to have a love that is so talented in the kitchen ;p</p>
      </div>
    </div>
    <div class="topic">
      <h3>Keep Me Grounded</h3>
      <img class="topic-img" src="img/temple.jpg" alt="">
      <div class="note">
        <p>I love that you want a life in the gospel with me.
        It makes me so happy to know that we share a love for the church.</p>
      </div>
    </div>
    <div class="topic">
      <h3>We Are Still In Love</h3>
      <img class="topic-img" src="img/kanab.jpg" alt="">
      <div class="note">
        <p>For over two years we have been together.
          And I can honestly say, that with every passing day I love you even more.</p>
      </div>
    </div>

  </section>
</section>
